body {
    background-color: forestgreen;
}

#img-div{
width: 100%;
height: 800px;
/* position: relative; */
/* align-items: center; */
/* justify-content: center; */
}

img{
margin-top: 80px;
margin-right: auto;
margin-left: auto;
left: 0;
right: 0;
width: 350px;
height: 450px;
z-index: 0;
position: absolute;
}

 
.diamonds{
    transform: rotate(15deg);
}

.hearts{
    transform: rotate(-15deg);
}


.clubs{
    transform: rotate(25deg);
}

.spades{
    transform: rotate(-25deg);
}